* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-size: 100%;
}

:root {
  /* body bg, nav and footer links, title text */
  --primary-color: #c3e0e5;
  /* header and footer bg, h2 and h3, p */
  --secondary-color: #274472;
  --tertiary-color: #5885af;
  /* hover */
  --quaternary-color: #eff542;
}

header {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 1rem 2rem 1rem 2rem;
}

h1, h2, h3, nav ul li {
  font-family: 'Oswald', sans-serif;
}

h1 {
  font-size: 3.5rem;
}

ul {
  list-style-type: none;
}

nav ul li:hover {
  color: var(--quaternary-color);
  cursor: pointer;
  transition: 0.5s;
}

main {
  background-color: var(--primary-color);
  padding: 2rem;
}

h2, h3, p {
  color: var(--secondary-color);
}

a:link {
  text-decoration: none;
}

a:hover {
  color: var(--tertiary-color);
  transition: 0.5s;
}

footer {
  background-color: var(--secondary-color);
}