* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-size: 100%;
}

:root {
  /* body bg, nav and footer links, title text */
  --primary-color: #c3e0e5;
  /* header and footer bg, h2 and h3, p */
  --secondary-color: #274472;
  --tertiary-color: #5885af;
  /* hover */
  --quaternary-color: #eff542;
}

body {
  background-color: var(--primary-color);
  font-family: Arial, Helvetica, sans-serif;
}

header {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 1rem 2rem 1rem 2rem;
}

h1, h2, h3, nav ul li {
  font-family: 'Oswald', sans-serif;
}

h1 {
  font-size: 3.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.3rem;
}

ul {
  list-style-type: none;
}

nav ul li:hover {
  color: var(--quaternary-color);
  cursor: pointer;
  transition: 0.5s;
}

main {
  background-color: var(--primary-color);
  padding: 2rem;
}

h2, h3, p {
  color: var(--secondary-color);
}

a:link {
  text-decoration: none;
}

a:hover {
  color: var(--quaternary-color);
  transition: 0.5s;
}

.sectionContainer {
  padding: 4rem 7rem;
}

.aboutContainer {
  display: flex;
  align-items: center;
  padding-top: 3rem;
}

.imageContainer {
  position: relative;
  width: 75%;
}

.profPic {
  display: block;
  max-width: 75%;
  height: auto;
}

.profPicOverlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--secondary-color);
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: .5s ease;
}

.imageContainer:hover .profPicOverlay {
  width: 75%;
}

.overlayText {
  white-space: nowrap;
  color: var(--quaternary-color);
  font-size: 1.2rem;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.aboutText {
  text-align: right;
}

footer {
  background-color: var(--secondary-color);
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 0%;
  width: 100%;
}

.footLinkContainer {
  display: flex;
  justify-content: center;
  padding: 0.5rem;
}